@model SignalFoodWebUI.Dtos.CategoryDtos.UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori Güncelle</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Kategori Bilgileri</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="CategoryId"/>
                            <div class="form-group">
                                <label for="categoryName">Kategori Adı</label>
                                <input type="text" class="form-control" asp-for="CategoryName" id="categoryName">
                            </div>
                        </div>
                        <div class="card-action">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Liste</a>
                            <button class="btn btn-success">Kategori Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

