@model UpdateSocialMediaDto

@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Sosyal Medya Güncelle</div>
                        </div>
                        <input type="hidden" asp-for="SocialMediaId"/>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlık</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Url">Sosyal Medya Adresi</label>
                                <input type="text" class="form-control" asp-for="Url" id="Url">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Icon">İkon</label>
                                <input type="text" class="form-control" asp-for="Icon" id="Icon">
                            </div>
                        </div>
                        <div class="card-action">
                            <a asp-controller="SocialMedia" asp-action="Index" class="btn btn-primary">Liste</a>
                            <button class="btn btn-success">Sosyal Medya Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

