@model List<ResultSocialMediaDto>

<div class="footer_social">
    @foreach (var item in Model)
    {
        <a target="_blank" href="@item.Url">
            <i class="@item.Icon" aria-hidden="true"></i>
        </a>
    }
</div>