<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Yönetim Paneli
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Register/Index">
								<span class="link-collapse">Yeni Kullanıcı Ekle</span>
							</a>
						</li>
						<li>
							<a asp-controller="About" asp-action="Index">
								<span class="link-collapse">SignalFood Hakkımızda</span>
							</a>
						</li>
						<li>
							<a asp-controller="Setting" asp-action="Index">
								<span class="link-collapse">Kullanıcı Ayarları</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item active">
				<a asp-controller="Statistic" asp-action="Index">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a target="_blank" asp-controller="Menu" asp-action="Index">
					<i class="la la-lemon-o"></i>
					<p>Menüyü Gör</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Category" asp-action="Index">
					<i class="la la-list-ol"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Product" asp-action="Index">
					<i class="la la-beer"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Booking" asp-action="Index">
					<i class="la la-bell"></i>
					<p>Rezervasyonlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="MenuTable" asp-action="TableListByStatus">
					<i class="la la-newspaper-o"></i>
					<p>Masa İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Testimonial" asp-action="Index">
					<i class="la la-trophy"></i>
					<p>Yorumlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a target="_blank" asp-controller="Message" asp-action="Index">
					<i class="la la-comments"></i>
					<p>Mesajlaşma</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="QRCode" asp-action="Index">
					<i class="la la-qrcode"></i>
					<p>QR Kod İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Contact" asp-action="Index">
					<i class="la la-phone"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Discount" asp-action="Index">
					<i class="la la-cart-arrow-down"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Feature" asp-action="Index">
					<i class="la la-binoculars"></i>
					<p>Öne Çıkanlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="SocialMedia" asp-action="Index">
					<i class="la la-globe"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="ProgressBar" asp-action="Index">
					<i class="la la-bar-chart"></i>
					<p>Durum Çubuğu</p>
				</a>
			</li>
			
		</ul>
	</div>
</div>